<%- include('./includes/header.ejs'); %>


<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">Tempat Wisata NTB</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#projects">Tempat</a></li>
                    <li class="nav-item"><a class="nav-link" href="#signup">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Nusa Tenggara Barat</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Selamat Datang di salah satu provinsi Indonesia yang
                        sangat indah</h2>
                    <a class="btn btn-primary" href="#about">About</a>
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">About</h2>
                    <p class="text-white-50">
                        Nusa Tenggara Barat (disingkat NTB) ialah sebuah provinsi di Indonesia yang berada di bagian
                        tengah Kepulauan Nusa Tenggara di antara provinsi Bali di sebelah barat dan provinsi Nusa
                        Tenggara Timur di sebelah Timur. Ibu kota provinsi ini berada di kota Mataram. Nusa Tenggara
                        Barat memiliki 8 Kabupaten dan 2 Kota, termasuk kota Mataram. Pada tahun 2020, penduduk Nusa
                        Tenggara Barat berjumlah 5.320.092 jiwa, dengan kepadatan 264 jiwa/km2.

                        Pada awal kemerdekaan Indonesia, wilayah ini termasuk dalam wilayah Provinsi Sunda Kecil[6][7]
                        yang beribu kota di Singaraja. Kemudian, wilayah Provinsi Sunda Kecil dibagi menjadi 3 provinsi:
                        Bali, Nusa Tenggara Barat, dan Nusa Tenggara Timur. Dua pulau terbesar di provinsi ini adalah
                        Lombok yang terletak di barat dan Sumbawa yang terletak di timur.

                        Sebagian besar dari penduduk pulau Lombok berasal dari suku Sasak, sementara suku Bima (suku
                        Mbojo) dan suku Sumbawa merupakan kelompok etnis terbanyak di pulau Sumbawa.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/assets/img/maps.png"
                        alt="..." /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <a href="https://www.ntbprov.go.id/profil-daerah">
                            <h4>Nusa Tenggara Barat</h4>
                        </a>
                        <p class="text-black-50 mb-0">Berikut merupakan peta Nusa Tenggara Barat jika dilihat dari
                            google maps</p>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="/assets/img/images.jpeg" alt="..." />
                </div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <a href="https://phinemo.com/alasan-mengapa-ntb-layak-disebut-sebagai-bali-baru/">
                                    <h4 class="text-white">Gili Trawang</h4>
                                </a>
                                <p class="mb-0 text-white-50">Snorkeling di wisata gili trawangan lombok
                                    Snorkeling di wisata gili lombok
                                    Snorkeling menjadi kegiatan menarik di kawasan Gili Trawangan yang wajib banget Anda
                                    coba, khususnya bagi Anda yang memiliki hobi menyelam atau juga bagi Anda yang ingin
                                    merasakan sensasi melihat terumbu karang, ikan serta keindahan bawah laut lainnya
                                    yang sangat menarik dan fantastik.

                                    Nah, sebelum masuk ke dalam air maka penting bagi Anda untuk mempersiapkan diri,
                                    yaitu salah satunya menyewa peralatan snorkeling. Selain itu, Anda juga bisa meminta
                                    sedikit penjelasan atau petunjuk dari petugas yang biasanya sudah berjaga pada
                                    setiap titik kawasan yang memang disediakan untuk snorkeling. Pastikan untuk
                                    keamanannya juga ya.
                                </p>
                                <h4>
                                    <a href="https://goo.gl/maps/XZ9u1NU6BMR9zZbi8">Maps</a>
                                </h4>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="/assets/img/gunung-rinjani2.jpg" alt="..." />
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <a href="https://phinemo.com/alasan-mengapa-ntb-layak-disebut-sebagai-bali-baru/">
                                    <h4 class="text-white">Gunung Rinjani</h4>
                                </a>
                                <p class="mb-0 text-white-50">Tempat Mendaki yang Indah
                                    Banyak dijadikan pendaki sebagai target dakiannya karena memiliki pemandangan yang
                                    indah ketika sampai di puncak gunung. Biasanya, para pendaki melakukan aktivitasnya
                                    di gunung ini pada bulan Juli sampai Agustus. Tidak hanya wisatawan lokal yang
                                    mendaki, namun banyak juga wisatawan asing yang melakukan pendakian di sini.
                                </p>
                                <h4><a href="https://goo.gl/maps/AxwTWiPtVu4c3PdJ9">Maps</a></h4>
                                <hr class="d-none d-lg-block mb-0 me-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('./includes/footer.ejs'); %>